<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card-body text-center">
                <h1><span class="titulo titulo2"><strong> {{titulo | uppercase}} </strong></span></h1>
                <form class="mt-3 form-control-dark" [formGroup]="armaForms" (ngSubmit)="agregarArma()">
                    <div class="mb-3 ">
                        <input type="text" class="form-control form-control-lg focus text-color"
                            formControlName="_codArma" placeholder="COD ARMA">
                        <div class="text-danger"
                            *ngIf="armaForms.get('_codArma')?.hasError('required') && armaForms.get('_codArma')?.touched">
                            <span>El codigo-arma del arma es <strong>obligatorio</strong></span>
                        </div>
                    </div>

                    <div class="mb-3">
                        <input type="text" class="form-control form-control-lg  text-color"
                            formControlName="_nombreArma" placeholder="NOMBRE">
                    </div>
                    <div class="mb-3">
                        <input type="date" class="form-control form-control-lg  text-color"
                            formControlName="_fechaProduccion" placeholder="FECHA PRODUCCION">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control form-control-lg  text-color"
                            formControlName="_precioBase" placeholder="PRECIO BASE">
                    </div>
                    <div class="mb-3 form-check form-switch">

                        <input class="form-check-input" type="checkbox" role="switch"
                            formControlName="_disparoAutomatico" value="true">
                        <p class="text2 text-color">DISPARO AUTOMATICO</p>


                        <output type="text" formControlName="_disparoAutomatico"
                            value="formControlName._disparoAutomatico"
                            onkeyup="formControlName._disparoAutomatico"></output>
                    </div>

                    <div class="mb-3">
                        <input type="text" class="form-control form-control-lg  text-color"
                            formControlName="_categoriaArma" placeholder="CATEGORIA">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control form-control-lg  text-color"
                            formControlName="_animaRayada" placeholder="ANIMA">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control form-control-lg  text-color" formControlName="_calibre"
                            placeholder="CALIBRE">
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-secondary btn-lg float-start" routerLink="/listar-arma">VOLVER</button>
                        <button type="submit" [disabled]="armaForms.invalid"
                            class="btn btn-success btn-lg float-end">CREAR</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>