<div>

    <div class="card focus pos1 cur" style="width: 18rem;background-color: black;" [routerLink]="['/listar-equipo', codEquipo1]">
        <img class="card-img-top" width="200" height="270"
            src="https://www.redwolf.in/image/catalog/artwork-Images/mens/call-of-duty-task-force-artwork-india.png" alt="Card image cap">
        <div class="card-body">
            <p class="card-text text-color">Fuerza Operativa 141</p>
        </div>

        <div class="card focus pos2 cur" style="width: 18rem;" [routerLink]="['/listar-equipo', codEquipo2]">
            <img class="card-img-top" width="200" height="270"
                src="https://static.wikia.nocookie.net/callofduty/images/4/40/MACV-SOG.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text text-color">MACV-SOG</p>
            </div>

            <div class="card focus pos3 cur" style="width: 18rem;" [routerLink]="['/listar-equipo', codEquipo3]" >
                <img class="card-img-top" width="200" height="270"
                    src="https://external-preview.redd.it/GLZ5E6nUp11r31p1KCrjIm4hXrV5UJjtsBpLue4uAxA.png?width=960&crop=smart&auto=webp&s=50bd72040b6d8c4e0d0de9e60acb2713f6016af2"
                    alt="Card image cap">
                <div class="card-body">
                    <p class="card-text text-color">DIVISION 9</p>
                </div>

                <div class="card focus pos4 cur"  style="width: 18rem; background-color: black;" [routerLink]="['/listar-equipo', codEquipo4]"  >
                    <img class="card-img-top" width="100" height="270"
                        src="https://w0.peakpx.com/wallpaper/21/497/HD-wallpaper-935-cod-logo-richtofen-team-zombies-thumbnail.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text text-color">Grupo 935</p>
                    </div>

                

















            </div>