.focus{
    
    border-color: rgba(252, 204, 46, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(252, 204, 46, 0.8);
    background-color: rgb(31, 29, 29);
    outline:  0 none ;
    
}
.text-color{
    color: rgb(252, 204, 46, 0.8);
    
}
.pos1 {
    
    height:auto;
    position: fixed;
    top: 30%;
    left: 10%;
}
.pos2 {
    
    height:auto;
    position: fixed;
    top: 40%;
    left: 30%;
}

.pos3{
 
        height:auto;
        position: fixed;
        top: 40%;
        left: 52%;
    
}

.pos4{
 
    height:auto;
    position: fixed;
    top: 30%;
    left: 72%;

}
.cur{
    cursor: pointer;
    
    }