<div class="container mt-5 Center" >
    <div class="row"></div>
    <div class="col-lg-8 offset-lg-2 " style="width: 80%;">
      <div class="card" >
        <div class="card-body text-center" >
          <span class="titulo "><strong>LISTADO DE ARMA</strong></span>
          <button class="btn btn-success float-end mt-4" routerLink="/crear-arma">NUEVO</button>
          <table *ngIf="objArmas.length > 0 " class="table table-dark table-hover mt-4 ">
            <thead class="" style="width: 100%;">
              <tr>
                <th scope="col">COD</th>
                <th scope="col">NOMBRE</th>
                <th scope="col">FECHA PRODUCCIÓN</th>
                <th scope="col">PRECIO ARMA BASE</th>
                <th scope="col">DISPARO AUTOMÁTICO</th>
                <th scope="col">CATEGORIA</th>
                <th scope="col">ANIMA RAYADA</th>
                <th scope="col">CALIBRE DE PROYECTIL</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let arma of objArmas">
                <th scope="row">{{ arma.codArma }}</th>
                <td>{{ arma.nombreArma }}</td>
                <td>{{ arma.fechaProduccion}}</td>
                <td>{{ arma.precioBase }}</td>
                <td>{{ arma.disparoAutomatico }}</td>
                <td>{{ arma.categoriaArma }}</td>
                <td>{{ arma.animaRayada }}</td>
                <td>{{ arma.calibre }}</td>
                
                <td>
                  <i [routerLink]="['/editar-arma' , arma.codArma]" class="fas fa-pen-square text-primary float-end"></i>
                  <i (click)="eliminoArma(arma.codArma)" class="fas fa-trash-alt text-danger float-end"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
